canvas{
    display:block;
    vertical-align:bottom;
  }


  /* ---- stats.js ---- */

  .count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }

  .js-count-particles{
    font-size: 1.1em;
  }

  #stats,
  .count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }

  #stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }

  .count-particles{
    border-radius: 0 0 3px 3px;
  }


  /* ---- particles.js container ---- */

  #particles-js{
      width: 100%;
      height: 100%;
      //background-color: red;
      background-image: url('');
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
  }

  #particle-layer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    .round {
      width: 80%;
      height: 85%;
      background: white;
      border-radius: 50%;
      box-shadow: 0 0 250px 95px white;
      //border: 1px solid red;
    }
  }
