@import 'variables';
@import 'particles';
@import 'skills';

html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    //background: grey;
}

IMG.me {
    background:url("https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/15940989_10211815495526809_597082559966508542_n.jpg?oh=e76e472c13928b51a8ced18507d2a1fe&oe=5AB26311");
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-size: contain;
}
IMG.back {
    background:url("https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/23559959_1623666041031111_3693375138616379048_n.jpg?oh=09abe8ba2fba8ef0f66b2345f4e8c1c5&oe=5AE5C3C6");
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-size: contain;
}

@keyframes rotateYmirror {
    from {transform: rotate3d(0, 1, 0, 0deg);}
    to {transform: rotate3d(0, 1, 0, 180deg);}
}

#navigator {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    //display: none;
    position: relative;
    z-index: 2;
    transition: transform 1s;

    &.collapsed {
        transform: scale(0.5) translateX(-75vw);
    }

    .circularContainer {
        border: 1px solid red;
        border-radius: 50%;
        position: absolute;
        box-sizing: border-box;
    }
    .circularContainer.center {
        width: 35vh;
        height: 35vh;
        background:url("https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAoeAAAAJDVkYTlmYjdmLTM0NzMtNDYzNS05NDkxLWI5NGM5MzY2ZGZjNg.jpg");
        background-size: contain;
    }

    .circularBullet {
        width: 21vh;
        height: 79vh;
        //border: 1px solid green;
        position: absolute;
        box-sizing: border-box;

        .rotationWrapper {
            width: 20vh;
            height: 20vh;
        }
        .circularContainer {
            width: 20vh;
            height: 20vh;
            border: 2px solid $primaryColor;
            animation-duration: 1.4s;
            animation-timing-function: linear;
            display: flex;
            justify-content: center;
            align-items: center;
            transform-style: preserve-3d;
            animation-fill-mode: forwards;
            color: $primaryColor;

            &.rotateYmirrorON {
                animation-name: rotateYmirror;
            }

            IMG {
                border-radius: 50%;
                width: 100%;
                height: 100%;
                background-size: contain;
            }

            H1 {
                text-decoration: underline;
            }
        }

        .back,.front {
            margin: 0;
            position: absolute;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            background-size: contain;
            display: flex;
            justify-content: center;
            align-items: center;
            backface-visibility: hidden;
        }
        .back {
            transform:  rotateY( 180deg );
        }

        &.one {
            transform: rotate(10deg);

            .rotationWrapper {
                transform: rotate(-10deg);
            }
        }
        &.two {
            transform: rotate(59deg);

            .rotationWrapper {
                transform: rotate(-59deg);
            }
        }
        &.three {
            transform: rotate(108deg);

            .rotationWrapper {
                transform: rotate(-108deg);
            }
        }
        &.four {
            transform: rotate(157deg);

            .rotationWrapper {
                transform: rotate(-157deg);
            }
        }
    }
}

.closeWrapper {
  width: 21vw;
  position: fixed;
  bottom: 0;

  .closeIcon {
    width: 128px;
    height: 128px;
    z-index: 1;
  }
}

// skills
#skills {

  z-index: 1;
  position: fixed;
  top: 0;
  margin-left: 30vw;
  width: 70%;
  right: 0;
  height: 100%;
  max-height: 100vh;
  display: flex;
  padding: 2em;
  opacity: 0;
  transition: opacity 1s;
  justify-content: center;

  .collapsed & {
    opacity: 1;
  }

  .wrapper {
    width: 100%;
    border-left: 2px solid #E0E0E0;
    padding: 1em;
    padding-left: 2em;
  }

  .importTitle {
    margin-right: auto;
    color: grey;
    font-size: 2em;
    margin: 0;
    margin-bottom: 1em;

    &--importKeyColor {
      color: $importKeyColor;
    }
    &--obj {
      color: $importObjColor;
    }
    &--from {
      color: $importFromColor;
    }
    &--package {
      color: $importPackageColor;
    }
  }

  .description {
    font-size: 1.5em;
    line-height: 1.6em;
    text-align: left;

    &.more {
      color: #45bb5a;
      font-size: 1.6em;
      font-weight: bold;
    }
  }

  .icon {
    vertical-align: middle;
    width: 2em;
    height: 2em;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;

    &.icon__java {
      content: url("https://www.coderdojotrento.it/wp-content/uploads/2014/03/java.png");
    }
    &.icon__android {
      content: url("http://www.androidblog.it/wp-content/uploads/2014/03/android.png");
    }
    &.icon__csharp {
      content: url("https://pbs.twimg.com/profile_images/378800000404787633/7a29a8e39aa56e853719d99bde9aeeeb.png");
    }
    &.icon__dotnet {
      content: url("https://chocolatey.org/content/packageimages/dotnetcore.2.0.5.png");
    }
    &.icon__sass {
      content: url("https://sasa.gallerycdn.vsassets.io/extensions/sasa/vscode-sass-format/1.1.3/1518638189702/Microsoft.VisualStudio.Services.Icons.Default");
    }
    &.icon__css3 {
      content: url("http://www.xhtmljunction.com/common/images/css3.png");
    }
    &.icon__es6 {
      content: url("https://jeremyrajan.gallerycdn.vsassets.io/extensions/jeremyrajan/vscode-lebab/1.0.2/1504328370120/Microsoft.VisualStudio.Services.Icons.Default");
    }
    &.icon__react {
      content: url("https://timonvs.gallerycdn.vsassets.io/extensions/timonvs/reactsnippetsstandard/1.1.0/1488031987588/Microsoft.VisualStudio.Services.Icons.Default");
    }
    &.icon__gatsby {
      content: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScxniSRfaQurCMBk1L5pTTEDabMyb8_Ld6TeaF8Iw5eo2vQHAkeA");
    }
    &.icon__nighwatch {
      content: url("https://sandeepthukral.gallerycdn.vsassets.io/extensions/sandeepthukral/nightwatch-js-snippets/0.2.0/1486564094190/Microsoft.VisualStudio.Services.Icons.Default");
    }
    &.icon__testcafe {
      border-radius: initial;
      width: 120px;
      content: url("https://camo.githubusercontent.com/4768a232f5673b75a50c1ce8d6a46deb27563a79/68747470733a2f2f7261772e6769746875622e636f6d2f446576457870726573732f74657374636166652f6d61737465722f6d656469612f6c6f676f2e706e67");
    }
    &.icon__mysql {
      content: url("https://www.softwareone.it/immagini/mysqlicon.png");
    }
    &.icon__firebase {
      content: url("https://firebase.google.com/_static/images/firebase/touchicon-180.png");
    }
    &.icon__backendless {
      content: url("https://backendless.com/wp-content/uploads/2016/09/infinite-or-link-rounded-symbol-outlined-circular-button.png");
    }
  }
}

